<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect Page</title>
  <link rel="stylesheet" href="/static/css/delete.css">
</head>
<body>
    <div class="container">
  <h1><span class="medium-bold">Facebook Page Integration</span></h1>
  <h1><span class="not-bold">Integrated Page:</span><strong class="bold-text">Amazon Business</strong></h1>
  <div class="buttons">
    <a  class="delete-button">Delete Integration</a>
    </div>
  <div class="buttons">
    <a class="message-button">Reply To Messages</a>
    </div>
  </div>
</body>
</html>
